
body{
   background-color: transparent;
   height: 100%;
}

.bg-image{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/lapapa-faabf.appspot.com/o/background-cook-2.jpg?alt=media&token=cfbef9f4-d7ee-42eb-b140-569667eaa67d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    filter: blur(8px);
    position: fixed;
    top: 0;
    opacity: 0.7;

}